---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About Us"
const metaDesc = "This is the About page."
---
    <Layout title={pageTitle} description={metaDesc}>
        <h1>{pageTitle}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae repellendus impedit pariatur quasi obcaecati reiciendis nisi unde veniam aperiam, quae neque adipisci vero ex delectus provident error labore aliquid voluptatibus iste non possimus minus exercitationem voluptatum. Aut commodi ex amet nesciunt repudiandae quae recusandae laudantium, earum doloremque voluptatem velit alias veritatis dolor!</p>
    </Layout>
